<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.buildorders"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/zerg3"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Homepage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Zvz"
            android:label="@string/title_activity_zvz" >
        </activity>
        <activity
            android:name=".Zvp"
            android:label="@string/title_activity_zvp" >
        </activity>
        <activity
            android:name=".Zvt"
            android:label="@string/title_activity_zvt" >
        </activity>
        <activity
            android:name=".Zerg"
            android:label="@string/title_activity_zerg" >
        </activity>
    </application>

</manifest>
